/*******************************************************************************
//
//
//
//  #IMAGE
//
//
//
*******************************************************************************/

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;

    &[width],
    &[height] {
        max-width: none;
        max-height: none;
    }
}
