/*******************************************************************************
//
//
//
//  #TYPOGRAPHY
//
//
//
*******************************************************************************/

/*******************************************************************************
//
//  #HEADINGS
//
*******************************************************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;

    a { font-weight: inherit; }
}

h1,
h2,
h3 { @include rem-fallback(margin, 0 0 $base-spacing); }

h4,
h5,
h6 { @include rem-fallback(margin, 0 0 ($base-spacing / 2)); }





/*******************************************************************************
//
//  #PARAGRAPHS
//
*******************************************************************************/

p { @include rem-fallback(margin, 0 0 $base-spacing); }





/*******************************************************************************
//
//  #ANCHORS
//
*******************************************************************************/

a {
    color: map-get($colors, white);
    outline: 0;
    transition: color .25s ease-in-out;

    &:hover { color: map-get($colors, black); }

    &:active {
        background-color: rgba(0, 0, 0, .25);
    }
}