//******************************************************************************
//
//
//
//  #GLOBAL
//  -> Global variables
//
//
//
//******************************************************************************

//******************************************************************************
//
//  #URL
//
//******************************************************************************

$site: (
    url: '../../'
);





//******************************************************************************
//
//  #PATHS
//
//******************************************************************************

$paths: (
    assets: #{map-get($site, url)}assets,
    fonts: #{map-get($site, url)}assets/fonts,
    images: #{map-get($site, url)}assets/images,
    svgs: #{map-get($site, url)}assets/svgs
);